<h1>I am the new title</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita facere totam, molestiae voluptate assumenda repudiandae harum nam ea reprehenderit ducimus soluta nobis quibusdam minima quo eligendi debitis consequuntur accusantium possimus.</span>
